<h3><%= @article.comments.count %> Comments</h3>
<% @article.comments.each do |comment| %>
    <div class="well">
        <% if comment.commenter? %>
        <h4><%= link_to comment.user.name, profile_path(comment.user.id)%></h4><br>
        <% else %>
        <h4><%= comment.email%></h4><br>
        <% end %>
        <p><%= comment.body %></p>
        <p><%= time_ago_in_words(comment.created_at) %> ago</p>
    </div>
    <br>
<% end %>
<%= render 'comments/form' %>