<% @articles.each do |f|%>
    <h2 class="article-title"><%= link_to f.title, f %></h2>
    Author: <%= link_to f.user.name, profile_path(f.user.id)%>
    <p>Created at <%= time_ago_in_words(f.created_at) %> ago</p><br>
    <%= raw(f.body[0..1200]) %>... <%= link_to 'Read More', f %>
    <% if f != @articles.last %>
    	<hr class="separator">
    <% end %>
<% end %>
<%= paginate @articles %>