<div class="container article-archive">
    <div class="row">
        <div class="col-md-12">
			<% if user_signed_in?%>
                <% if @article.user.id == current_user.id %>
    				<p class="navbar-text pull-right">
    				<%= link_to 'Edit', edit_article_path(@article) %><br>
    				<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
    				</p>
                <% end %>
			<% end %>
            <h2 class="article-title"><%= @article.title %></h2>
            Author: <%= link_to @article.user.name, profile_path(@article.user.id)%>
            <p>Created at <%= time_ago_in_words(@article.created_at) %> ago
            <% if @article.created_at != @article.updated_at %><br>
            Updated at <%= time_ago_in_words(@article.updated_at) %> ago</p><br>
            <% end %>
            <div class="article-body">
                <%= raw(@article.body) %>
            </div>
            <h4>Tags</h4>
            <%= render @article.tags %>
            <hr>
            <h2 id="count_comments"><%= @article.comments.count %> Comments</h2>
            <div id="comments">
                <%= render @article.comments %>
            </div>
            <br>
            <%= render 'comments/form' %>
        </div>
    </div>
</div>
