<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center><h1>WELCOME TO <strong>SkyPress</strong></h1></center>
    </div>
  </div>
    <div class="row">
        <div class="col-md-12">
            <% @articles.each do |f|%>
                <h2 class="article-title"><%= link_to f.title, f %></h2>
                Author: <%= link_to f.user.name, profile_path(f.user.id)%>
                <p>Created at <%= time_ago_in_words(f.created_at) %></p><br>
                <%= raw(f.body[0..1200]) %>... <%= link_to 'Read More', f %>
                <hr>
            <% end %>
            <%= paginate @articles %>
        </div>
    </div>
</div>